VegetaRobot/config.py
VegetaRobot/*.session
VegetaRobot/*.session-journal
VegetaRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
VegetaRobot/modules/helper_funcs/temp.txt
VegetaRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
VegetaRobot.session-journal
updates.txt
*.exe
